In [11]:
import pandas
import numpy
data = pandas.read_excel('E:/JAN2016/KULIAH20182019/SEM1_20182019/KOMPUTASIMATEMATIKA/TUGAS_PROJECT/KANKER_jaringandenganYuni/CANCER1.xlsx')
print(data)
data.head()

           x1         x2         x3         x4         x5         x6  \
0   46.846584  43.864251  46.846584  44.371710  42.739942  15.000000
1   48.000000  44.926185  48.000000  45.449166  43.646138  15.323808
2   49.098411  45.936476  49.098411  46.474404  44.501786  15.629857
3   50.146900  46.899923  50.146900  47.452273  45.311825  15.919872
4   51.149840  47.820655  51.149840  48.386942  46.080493  16.195330
5   52.111026  48.702256  52.111026  49.282032  46.811457  16.457513
6   53.033776  49.547856  53.033776  50.140706  47.507911  16.707536
7   53.921012  50.360210  53.921012  50.965745  48.172655  16.946377
8   54.775317  51.141756  54.775317  51.759615  48.808163  17.174902
9   55.598995  51.894664  55.598995  52.524506  49.416626  17.393877
10  56.394103  52.620873  56.394103  53.262379  50.000000  17.603986
11  57.162492  53.322128  57.162492  53.974996  50.560036  17.805844
12  57.905830  54.000000  57.905830  54.663946  51.098308  18.000000
13  58.625631  54.655913  58.625631  55.330667  51.616238  18.186954
14  59.323270  55.291162  59.323270  55.976467  52.115114  18.367157
15  60.000000  55.906926  60.000000  56.602540  52.596106  18.541020
16  60.656969  56.504286  60.656969  57.209977  53.060283  18.708917
17  61.295230  57.084230  61.295230  57.799777  53.508620  18.871192
18  61.915752  57.647670  61.915752  58.372862  53.942013  19.028158
19  62.519428  58.195445  62.519428  58.930081  54.361283  19.180105
20  63.107084  58.728331  63.107084  59.472218  54.767190  19.327300
21  63.679486  59.247047  63.679486  60.000000  55.160432  19.469988
22  64.237345  59.752261  64.237345  60.514102  55.541659  19.608398
23  64.781321  60.244593  64.781321  61.015150  55.911470  19.742741
24  65.312032  60.724621  65.312032  61.503731  56.270423  19.873214
25  65.830052  61.192885  65.830052  61.980390  56.619038  20.000000

           x7         x8  target
0   39.799679  26.533119      15
1   40.621978  27.081318      16
2   41.397309  27.598206      17
3   42.130312  28.086874      18
4   42.824961  28.549974      19
5   43.484692  28.989795      20
6   44.112499  29.408333      21
7   44.711003  29.807335      22
8   45.282517  30.188345      23
9   45.829090  30.552727      24
10  46.352549  30.901699      25
11  46.854528  31.236352      26
12  47.336496  31.557664      27
13  47.799777  31.866518      28
14  48.245572  32.163715      29
15  48.674970  32.449980      30
16  49.088964  32.725976      31
17  49.488461  32.992307      32
18  49.874292  33.249528      33
19  50.247222  33.498148      34
20  50.607953  33.738635      35
21  50.957134  33.971423      36
22  51.295365  34.196910      37
23  51.623202  34.415468      38
24  51.941161  34.627441      39
25  52.249722  34.833148      40

,x1,x2,x3,x4,x5,x6,x7,x8,target
0,46.846584,43.864251,46.846584,44.371710,42.739942,15.000000,39.799679,26.533119,15
1,48.000000,44.926185,48.000000,45.449166,43.646138,15.323808,40.621978,27.081318,16
2,49.098411,45.936476,49.098411,46.474404,44.501786,15.629857,41.397309,27.598206,17
3,50.146900,46.899923,50.146900,47.452273,45.311825,15.919872,42.130312,28.086874,18
4,51.149840,47.820655,51.149840,48.386942,46.080493,16.195330,42.824961,28.549974,19

In [12]:
#Kasus multivariate regression
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from statsmodels.formula.api import ols

data = pandas.read_excel('E:/JAN2016/KULIAH20182019/SEM1_20182019/KOMPUTASIMATEMATIKA/TUGAS_PROJECT/KANKER_jaringandenganYuni/CANCER1.xlsx')
model = ols('target ~ x1+ x2 + x3 + x4 + x5 + x6 + x7 + x8', data).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 8.537e+07
Date:                Thu, 29 Nov 2018   Prob (F-statistic):           1.55e-69
Time:                        23:21:07   Log-Likelihood:                 133.15
No. Observations:                  26   AIC:                            -252.3
Df Residuals:                      19   BIC:                            -243.5
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.1862     73.634      0.003      0.998    -153.931     154.303
x1          1.967e+04   1.08e+06      0.018      0.986   -2.25e+06    2.28e+06
x2          2.678e+05   1.57e+07      0.017      0.987   -3.25e+07    3.31e+07
x3          1.967e+04   1.08e+06      0.018      0.986   -2.25e+06    2.28e+06
x4          -3.03e+05   1.75e+07     -0.017      0.986    -3.7e+07    3.64e+07
x5          2.291e+04   2.03e+06      0.011      0.991   -4.22e+06    4.26e+06
x6         -5.909e+04   4.98e+06     -0.012      0.991   -1.05e+07    1.04e+07
x7         -4152.6744   3.92e+05     -0.011      0.992   -8.24e+05    8.16e+05
x8         -2720.3848   2.58e+05     -0.011      0.992   -5.43e+05    5.38e+05
==============================================================================
Omnibus:                        3.272   Durbin-Watson:                   0.000
Prob(Omnibus):                  0.195   Jarque-Bera (JB):                1.659
Skew:                           0.301   Prob(JB):                        0.436
Kurtosis:                       1.919   Cond. No.                     1.13e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.81e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.